* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: dodgerBlue;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h3,
footer {
  font-weight: 700;
  text-transform: uppercase;
}

.slider {
  width: 85%;
  margin: 0px auto;
  max-width: 80%;
  border: 10px solid white;
  box-shadow: 2px 5px 10px rgb(0 0 0 / 40%);
}

img {
  max-height: 50vh;
  object-fit: contain;
  margin: 0 auto;
}

.slidetext {
  font-size: 2em;
  padding: 10px;
  color: white;
}

.slick-prev,
.slick-next {
  width: 50px;
  height: 50px;
}

.slick-prev:before,
.slick-next:before {
  font-size: 50px;
  color: black;
}

.slick-next {
  right: -70px;
  z-index: 5;
}
.slick-prev {
  left: -70px;
  z-index: 5;
}

@media screen and (max-width: 700px) {
  .slick-next {
    right: 0;
  }
  .slick-prev {
    left: 0;
  }
}

.slick-slider .slick-track {
  display: flex;
  align-items: center;
}
